.App {
  &,
  > div {
    height: 100%;
  }
}

.options-ui {
  width: 200px;
  background: white;
  border: 1px rgb(192, 192, 192) solid;
  margin-top: 3px;
  padding: 10px;

  > *:last-child {
    margin-bottom: 0;
  }
}
