.App {
  &,
  > div {
    height: 100%;
  }
}

.App-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;

  h1 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
}

.options-ui {
  width: 200px;
  background: white;
  border: 1px rgb(192, 192, 192) solid;
  margin-top: 3px;
  padding: 10px;

  > *:last-child {
    margin-bottom: 0;
  }
}
